<header>

    <div class="container">
        <!-- <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2> -->

        <div id="nav_bar">
            <ul class="nav nav-pills pull-right">
                {%- for item in site.data.navigation -%}
                <li class{%- if page.url == item.link -%} ="active" {%- endif -%}>
                    <a href="{{ item.link }}" title="{{ item.name }}">
                        {{ item.name }}
                    </a>
                </li>
                {%- endfor -%}
            </ul>
            <h2 class="text-muted"><a href="/">Jade Ray</a></h2>
        </div>
    </div>




</header>