@charset "utf-8";
@import "default_colors";

$color-primary: rgb(52, 165, 7);
$color-warning: rgb(194, 5, 5);
$color-bg: rgb(0, 0, 0);
$color-postbg: rgb(0, 0, 0);
$image-background: none;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

@font-face {
    font-family: "Fira Code Online";
    src: url("../assets/fonts/FiraCode-Regular.woff");
}

$font-family: "Fira Code",
"Source Code Pro",
"Fira Code Online",
"Source-Han-Sans-Medium",
"PingFang SC",
"Hiragino Sans GB",
"Heiti SC",
"Microsoft YaHei",
"WenQuanYi Micro Hei",
Helvetica,
Tahoma,
Arial,
sans-serif;
$font-size-primary: 18.5px;

.page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    //text-align: center;
    line-height: 1.2;
    background-color: $cod-grey;
    background-image: $image-background;
    font-size: $font-size-primary;
    color: $color-primary;
    font-family: $font-family;

    .div_bg {
        top: -4px;
        height: 100%;
        width: 100% !important;
        text-align: left;
        position: fixed;
    }

    #navbar-custom {
        text-align: justify;
        margin: 2%;
    }

    .container {
        overflow: none;
        top: 2%;
        margin: 0 auto;
        margin-bottom: 1%;
        height: 97%;
        width: 80%;
        max-width: 1240px;
        position: relative;
        box-sizing: border-box;
        background-color: rgba($cod-grey, $alpha: 0.72);

        #main_contant {
            height: 85%;
            padding: 2% 5%;
            text-align: start;
            line-height: 1.3;

            #profile_left {
                text-align: center;
                white-space: pre-wrap;
            }

            #profile_right {
                text-align: start;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $conifer;
                letter-spacing: -0.03em;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                    0 0 5px rgba(181, 232, 83, 0.1),
                    0 0 10px rgba(181, 232, 83, 0.1);
            }

            h1 {
                text-align: center;
            }

            dt {
                font-style: italic;
                font-weight: bold;
            }

            ul li {
                list-style-image: url('../images/bullet.png');
            }

            blockquote {
                color: $blockquote-color;
                padding-left: 10px;
                border-left: 1px dotted $blockquote-border;
            }

            pre {
                background: rgba(0, 0, 0, 0.9);
                border: 1px solid rgba(255, 255, 255, 0.15);
                padding: 10px;
                font-size: 16px;
                color: #b5e853;
                border-radius: 2px;
                word-wrap: normal;
                overflow: auto;
                overflow-y: hidden;
            }

            code.highlighter-rouge {
                background: rgba(0, 0, 0, 0.9);
                border: 1px solid rgba(255, 255, 255, 0.15);
                padding: 0px 3px;
                margin: 0px -3px;
                color: #aa759f;
                border-radius: 2px;
            }

            table {
                width: 100%;
                margin: 0 0 20px 0;
            }

            th {
                text-align: left;
                border-bottom: 1px dashed #b5e853;
                padding: 5px 10px;
            }

            td {
                padding: 5px 10px;
            }
        }

        .footer {
            height: auto;
            padding: 3% 10% 1% 10%;
            position: relative;
            text-align: justify;
        }

        hr {
            height: 0;
            border: 0;
            border-bottom: 1px dashed #b5e853;
            color: #b5e853;
        }

        a {
            color: #63c0f5;
            text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
        }
    }
}

