<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about"></a>About</li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li> <a href="mailto:l503976309@gmail.com">email</a></li>
                <li><a href="https://github.com/Jade-Ray">github.com/Jade-Ray</a></li>
            </ul>
        </footer>
    </body>

</html>